.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.flex_top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.full {
    width: 100vw;
    height: 100vh;
}

key- {
    border: 1px solid #aaa;
    border-radius: 0.2em;
    box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    padding: 0em 0.3em;
}

p- {
    display: block;
    margin: .5em 0em;
}

hsmall- {
    font-size: smaller;
    font-weight: normal;
}

button {
    background-color: #3366cc;
    color: #fff;
    border: 1px solid #3366cc;
    cursor: pointer;
    font-size: large;
    padding: 0.3em 0.4em;
    transition-property: background-color, color, border-color, box-shadow;
    transition-duration: 100ms, 100ms, 100ms, 100ms;
    transition-timing-function: ease, ease, ease, ease;
    transition-delay: 0s, 0s, 0s, 0s;
}

button:hover {
    background-color: #447ff5;
    border-color: #447ff5;
}

halfem- {
    display: block;
    height: .5em;
}

body {
    margin: 0px;
    font-size: larger;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
}

th, td {
    padding: 3px;
    border: 1px solid darkgrey;
}

input {
    border: 1px solid lightgrey;
    outline: none;
}

input:focus {
    border: 1px solid lightgrey;
}

.instructiondiv {
    padding: 70px 50px 10px 50px;
    margin: auto;
    max-width: 800px;
}

.mediumfont {
    font-size: medium;
}